<style type="text/css">
  a:visited, a:hover {
    color: black;
  }
</style>
<div class="container">
  <div id="user_nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete %><br><br>
      <%= link_to "Renter Signups", renters_path, :class => "btn-main btn-landlord", :style => "color:white; padding-right: 20px;" %>
      <%= link_to "Office Signups", landlords_path, :class => "btn-main btn-renter", :style => "color:white; padding-right: 20px;" %>

    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>