<head>

</head>
<!-- <body id="top" data-spy="scroll" data-target=".navbar"> -->
<body id="top" data-spy="" data-target=".navbar">
        
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to('/') do %>
            <%= image_tag("found_logo.png", :class => "brand", :alt => "Title", :width => "160") %>
          <% end %>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a class="scroll" href="#top"></a></li>
              <li><a class="scroll" href="#need-space">I Need Space</a></li>
              <li><a class="scroll" href="#have-space">I Have Space</a></li>
<!--               <li><a class="scroll" href="#content1">About</a></li>
              <li><a class="scroll" href="#latest-news">News</a></li> -->
              <li><a class="scroll" href="#bottom">Connect</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
    <!-- Carousel
    Change your images in the main.css file.
    ================================================== -->
    <div id="header" class="carousel slide animated fadeIn">
      <div class="carousel-inner">
        <div class="item one active">
          <div class="container animated fadeInUp">
            <div class="carousel-caption-center">
              <h1><span class="desktop">Find</span> comfortable and<br>affordable <br class="mobile"><span>office space</span>.</h1>
              <div style="margin-top: 35px"></div>
              <a  class="btn-main btn-landlord" href="/renterform"><i class=""></i>I Need Space</a><br class="mobile"><div class="btn-space-mobile mobile"></div>
              <a class="btn-main btn-renter" href="/renteeform"><i></i>I Have Space</a>
            </div>
          </div>
        </div>
        <div class="item two">
          <div class="container">
            <div class="carousel-caption-center">
              <h1><span class="desktop">Find</span> an easy way to<br>pay the bills.</h1>
              <div style="margin-top: 35px"></div>
              <a  class="btn-main btn-landlord" href="/renterform"><i class=""></i>I Need Space</a><br class="mobile"><div class="btn-space-mobile mobile"></div>
              <a class="btn-main btn-renter" href="/renteeform"><i></i>I Have Space</a>
            </div>
          </div>
        </div>
        <div class="item three">
          <div class="container">
            <div class="carousel-caption-center">
              <h1><span class="desktop">Find</span> a new way<br>to connect.</h1>
              <div style="margin-top: 35px"></div>
              <a  class="btn-main btn-landlord" href="/renterform"><i class=""></i>I Need Space</a><br class="mobile"><div class="btn-space-mobile mobile"></div>
              <a class="btn-main btn-renter" href="/renteeform"><i></i>I Have Space</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control carousel-control-left hidden-phone" href="#header" data-slide="prev"><i class="icon-angle-left"></i></a>
      <a class="right carousel-control carousel-control-right hidden-phone" href="#header" data-slide="next"><i class="icon-angle-right"></i></a>
    </div><!-- /.carousel -->
    
    
    <!--Services - Need Space -->

<!--     <div style="width: 600px; background: #fff; height: 95px;" class="container">
      <h2 class="need-space-header span12">Office space tailored to fit your needs.</h2>
    </div> -->
    <section id="need-space">

      <div class="container">
        <div class="row">
          <div class="span12">
            <h3 class="secondary-section-header">Office space tailored to fit your needs.</h3>
          </div>
        </div>
        <div class="row text-center">

          
          <!--Seciton 1-->
          <div class="span4 service margin-30">
              <span class="icon-money icon-4x gray"></span>
              <h3>Low Cost</h3>
              <p>Private, fully furnished office space with wi-fi, kitchen and bathroom. All at a price you won't believe.</p>
          </div>
          
          <!--Seciton 2-->
          <div class="span4 service margin-30">
              <span class="icon-calendar icon-4x gray"></span>
              <h3>Short Term</h3>
              <p>Say goodbye to 2-3 year long leases. We've got month-to-month office space perfect for your growing business.</p>
          </div>
          
          <!--Seciton 3-->
          <div class="span4 service margin-30">
              <span class="icon-laptop icon-4x gray"></span>
              <h3>Convenient</h3>
              <p>No full day trips to IKEA or hour long calls with Time Warner. All you need to bring is your laptop.</p>
          </div>
          <div class = "span12 margin-30 btn-middle">
            <a class="btn-main btn-landlord" href="/renterform"><i class=""></i>Sign Up Now</a>
          </div>
          
        </div>
      </div>
    </section>
    
    
    <!--Message Section-->
<!--     <section id="message">
      <div class="container">
        <div class="row margin-40">
          <div class="span12 text-center">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua.</h2>
          </div>
        </div>
      </div>
    </section> -->

    <!--Testimonial Section-->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="span12 sharing-econ-header">
            <h2>Become Part of the Sharing Economy Revolution</h2>
          </div>
          <%= link_to("https://airbnb.com") do %>
            <div class="span3 margin-30 sharing-econ-logos-div">
              <%= image_tag("airbnb.png", :alt => "Title", :class => "sharing-econ-logos") %>
            </div>
          <% end %>
          <%= link_to("https://lendingclub.com", :target => "_blank") do %>
            <div class="span3 margin-30 sharing-econ-logos-div">
              <%= image_tag("lending-club.png", :alt => "Title", :class => "sharing-econ-logos" ) %>
            </div>
          <% end %>
          <%= link_to("http://www.lyft.me/", :target => "_blank") do %>
            <div class="span3 margin-30 sharing-econ-logos-div">
              <%= image_tag("lyft.png", :alt => "Title", :class => "sharing-econ-logos") %>
            </div>
          <% end %>
          <%= link_to("https://lendingclub.com", :target => "_blank") do %>
            <div class="span3 margin-30 sharing-econ-logos-div">
              <a href="https://taskrabbit.com">
              <%= image_tag("task-rabbit.png", :alt => "Title", :class => "sharing-econ-logos task-rabbit") %>
              </a>
            </div>
          <% end %>
      </div>
    </section>

    <!--Services - Have Space -->
    <section id="have-space">
      
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3 class="secondary-section-header">Meet incredible people and have<br>your apartment pay for itself.</h3>
          </div>
        </div>
        <div class="row text-center">


          
          <!--Seciton 1-->
          <div class="span4 service margin-30">
              <span class="icon-home icon-4x gray"></span>
              <h3>Free to List</h3>
              <p>No upfront signup fees. The only way we make money is by helping you make more.</p>
          </div>
          
          <!--Seciton 2-->
          <div class="span4 service margin-30">
              <span class="icon-bolt icon-4x gray"></span>
              <h3>1 Minute Signup</h3>
              <p>To get started simply answer a few basic questions about your space. We'll take care of the rest.</p>

          </div>
          
          <!--Seciton 3-->
          <div class="span4 service margin-30">
              <span class="icon-group icon-4x gray"></span>
              <h3>Community</h3>
              <p>An opportunity to meet incredible entrepreneurs and talented teams who are building the future.</p>
          </div>
          <div class = "span12 margin-30 btn-middle">
            <a class="btn-main btn-landlord" href="/renteeform"><i class=""></i>Sign Up Now</a>
          </div>          
        </div>
      </div>
    </section>
    
    

    
    
    <!--Twitter Feed-->
    <section id="twitter">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
            <a  class="btn-main btn-landlord" href="/renterform"><i class=""></i>I Need Space</a><br class="mobile"><div class="btn-space-mobile mobile"></div>
            <a class="btn-main btn-renter" href="/renteeform"><i></i>I Have Space</a>
          </div>
        </div>
      </div>
    </section>
    
    
    <!--Bottom Section-->
    <section id="bottom">
      <div class="container">
        <div class="row">
          <div class="span10 offset1 text-center">
            <p>917.727.7245  |  <a href="mailto:hello@found.io"><i class="icon-envelope-alt"></i> hello@found.io</a></p>
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="span10 offset1 text-center">
            <!--Social Icons-->          
            <ul class="social-icons">
    					<li><a class="twitter" href="http://www.twitter.com/found_io" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
    					<li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="icon-facebook icon-3x"></i></a></li>
<!--     					<li><a class="google" href="mailto:hello@found.io.com?subject=Hello" target="_blank"><i class="icon-envelope icon-3x"></i></a></li> -->
    				</ul>
          </div>
        </div>
        
      </div>
    </section>
    
    
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
            <p>@ Copyright. All Rights Reserved.</a></p>
          </div>
        </div>
      </div>
    </section>
      
    
    <a href="#top" class="scrollToTop hidden-phone"><i class="icon-chevron-up scroll-top-icon"></i></a>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
      $(window).load(function() {
        $('#header').carousel({
          interval: 5000,
          pause: "false"
        });
      });      
      // !function ($) {
      //   $(function(){
      //     $('#header').carousel()
      //   })
      // }(window.jQuery)
    // </script>

    <script type="text/javascript">
    //     $(window).load(function() {
    //   $('.flexslider').flexslider({
    //     animation: "slide"
    //   });
    // });
    // </script>

    <script type="text/javascript">
    $(window).load(function() {
    	$('a').smoothScroll({offset: -90, speed: 1000});
    });
    </script>



  
   
    </body>
</html>
