<%= form_for @renter, :html => {:id => "signup-form", :class => "form-horizontal"} do |f| %>
  <% if @renter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@renter.errors.count, "error") %> prohibited this renter from being saved:</h2>

      <ul>
      <% @renter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :class => "input-xlarge", :placeholder => "Name"%>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => "input-xlarge", :placeholder => "Email" %>
  </div>
  <div class="field">
    <%= f.telephone_field :phone, :class => "input-xlarge", :placeholder => "Phone Number (Optional)" %><br><br>
  </div>


  <div class="field">
    <label>Team Size: <span id="team_size_output">0</span></label><br/>
    <%= f.range_field :team_size, :in => 0..10, :step => '1', :id => "team_size", :value => 0 %>
  </div><br><br>

  <div class="field">
    <%= f.label :desired_time, "Desired Hours (Mon - Fri)" %>
    <select name="renter[hours_required_am]" class="input-xlarge">
      <option value=0>From</option>
      <option value=6>6am</option>
      <option value=7>7am</option>
      <option value=8>8am</option>
      <option value=9>9am</option>
      <option value=10>10am</option>
      <option value=11>11am</option>
      <option value=12>12pm</option>
    </select><br><br>
  <div class="field">
    <select name="renter[hours_required_pm]" class="input-xlarge">
      <option value=0>Until</option>
      <option value=5>5pm</option>
      <option value=6>6pm</option>
      <option value=7>7pm</option>
      <option value=8>8pm</option>
      <option value=9>9pm</option>
      <option value=10>10pm</option>
      <option value=11>11pm</option>
      <option value=12>Midnight</option>
    </select><br><br>
  </div>

  <div class="field">
    <label>Min # of Desks: <span id="min_desks_output">0</span></label><br/>
    <%= f.range_field :min_desks, :in => 0..10, :step => '1', :id => "min_desks", :value => 0 %>
  </div><br><br>
  <div class="field">
    <label>Ideal # of Desks: <span id="acceptable_desks_output">0</span></label><br/>
    <%= f.range_field :acceptable_desks, :in => 0..10, :step => '1', :id => "acceptable_desks", :value => 0 %>
  </div><br><br>
  <div class="field">
    <label>Min # of Seats: <span id="min_seats_output">0</span></label><br/>
    <%= f.range_field :min_seats, :in => 0..10, :step => '1', :id => "min_seats", :value => 0 %>
  </div><br><br>
  <div class="field">
    <label>Ideal # of Seats: <span id="acceptable_seats_output">0</span></label><br/>
    <%= f.range_field :acceptable_seats, :in => 0..10, :step => '1', :id => "acceptable_seats", :value => 0 %>
  </div><br><br>
  <div class="field">
    <label>Max Monthly Rent: $<span id="price_output">0</span></label><br/>
    <%= f.range_field :price, :in => 0..5000, :step => '250', :id => "price", :value => 0 %>
  </div><br><br>
  <div class="actions">
    <%= f.submit "Submit Form", :class => "btn-main" %>
  </div>
<% end %>

<script type="text/javascript">
  function CurrencyFormatted(amount)
    {
        var i = parseFloat(amount);
        if(isNaN(i)) { i = 0; }
        var minus = '';
        if(i < 0) { minus = '-'; }
        i = Math.abs(i);
        i = parseInt((i + .005) * 100);
        i = i / 100;
        s = new String(i);
        if(s.indexOf('.') < 0) { s; }
        if(s.indexOf('.') == (s.length - 2)) { s += '0'; }
        s = minus + s;
        return s;
    }

  $.fn.digits = function(){ 
    return this.each(function(){ 
        $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") ); 
    })
  }

  $("#team_size").change(function () {                    
     var newValue = $('#team_size').val();
     $("#team_size_output").html(newValue);
  });
  $("#min_desks").change(function () {                    
     var newValue = $('#min_desks').val();
     $("#min_desks_output").html(newValue);
  });
  $("#acceptable_desks").change(function () {                    
     var newValue = $('#acceptable_desks').val();
     $("#acceptable_desks_output").html(newValue);
  });
  $("#min_seats").change(function () {                    
     var newValue = $('#min_seats').val();
     $("#min_seats_output").html(newValue);
  });
  $("#acceptable_seats").change(function () {                    
     var newValue = $('#acceptable_seats').val();
     $("#acceptable_seats_output").html(newValue);
  });
  $("#price").change(function () {                    
     var newValue = $('#price').val();
     var newPrice = CurrencyFormatted(parseInt(newValue));
     $("#price_output").html(newPrice).digits();
  });
</script>
